export NODE_PATH="src/modules/default:src/"
export CUSTOM_MODULES="default"

export NODE_ENV="development"
export SESSION_KEYS="sessionkeys"
export HOST="localhost"
export PORT="3000"

export WALLET_NAME="Galoy"
export SUPPORT_EMAIL="support@galoy.io"
export SHARE_URL="https://pay.mainnet.galoy.io/"

export NETWORK="signet"
export GRAPHQL_URL="https://api.staging.galoy.io/graphql"
export GRAPHQL_SUBSCRIPTION_URL="wss://api.staging.galoy.io/graphql"
export AUTH_ENDPOINT="https://api.staging.galoy.io/api/login"
export KRATOS_API_URL="http://localhost:4433"
export KRATOS_BROWSER_URL="http://localhost:4433"
export GALOY_AUTH_ENDPOINT="https://api.staging.galoy.io/auth"
export KRATOS_FEATURE_FLAG="false"